{:aliases
 {:repl
  {:extra-paths ["dev"]
   :extra-deps {cljdev {:git/url "https://github.com/justone/cljdev.git" :sha "0606399da2612346290c667faa1d1ac4a096e58d"}}
   :main-opts  ["-m" "cljdev.repl"]}}

 :deps
 {cheshire {:mvn/version "5.9.0"}
  fancy {:mvn/version "0.2.3"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}}}
