{:aliases
 {:repl
  {:extra-paths ["dev"]
   :extra-deps {cljdev {:git/url "https://github.com/justone/cljdev.git" :sha "0606399da2612346290c667faa1d1ac4a096e58d"}}
   :main-opts  ["-m" "cljdev.repl"]}
  :test
  {:extra-paths ["dev" "test"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "0.0-554"}}
   :main-opts  ["-m" "kaocha.runner"]}}

 :deps
 {bb-pod-racer {:git/url "git@github.com:justone/bb-pod-racer.git"
                :sha "ce257edb13d0d477f3ed2598f37816c7cd52b437"}
  cheshire {:mvn/version "5.9.0"}
  fancy {:mvn/version "0.2.3"}
  org.clojure/tools.cli {:mvn/version "0.4.2"}}}
